
/* Underlying Fade Animation*/

.moonspacefade{
    text-align: center; 
    font-size: small;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-family: sans-serif;
    letter-spacing: normal;
    font-weight: 600;
    word-spacing: normal;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
  }
      
  @keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
  }

  /* Glitch Text Animation for h1 */
  .glitchontop h1{
  padding-top: 100px; 
  display:grid; 
  place-items:center; 
  color:white; 
  font-family: distant-galaxy; 
  font-weight: 800; 
  font-size: 2rem;
}

/* For Smaller Screens Optimized*/
@media only screen and (max-width: 600px){

    .glitchontop h1 {
    padding-top: 50px;
    display:grid; 
    place-items:center;
    color:white; 
    font-family: distant-galaxy; 
    font-weight: 800; 
    font-size: 2rem;
    }
}

/* Main Glitch Class*/

.glitch {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/* Social Media Animation*/

.spinner {
  height: 20px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 10px;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  animation: loading6454 1.75s ease infinite;
}
 
.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}
 
.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}
 
.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}
 
.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}
 
.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading6454 {
0%, 100% {
  transform: translateY(0);
}  
50% {
  transform: translateY(-10px);
}
}