* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #24252a;
}

html::-webkit-scrollbar-thumb {
  background: #15c6e1;
  border-radius: 5rem;
}

body {
  background-color: #24252a;
  color:aliceblue;
  font-family: Montserrat, sans-serif;
  

  /* alternativ */
  /*
  background-color: #1b1b32;
  color: #f5f6f7;
  */
}

/* This Is For Disable Mouse And Hide Code. More in Index or Service */
.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Nav Fade Bar (Underline Animaion) */
.moonspacefade{
  text-align: center; 
  font-size: small;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  font-family: sans-serif;
  letter-spacing: normal;
  font-weight: 600;
  word-spacing: normal;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
    
@keyframes animate{
0%{
  background-position: 0%;
}
100%{
  background-position: 400%;
}
}


      /* Nav Bar for Desktop*/

      header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 10%;
        background-color: #24252a;
      }

        .logo{
        margin-right: auto;
        text-align: left; 
        font-size: 1rem;
        font-weight: 600;
        background-size: 400%; 
        font-family: sans-serif;
         background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
        background-size: 400%;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: animate 10s linear infinite; 
      } 

      /* Links In Navbar */
      
      .nav__links {
        list-style: none;
        display: flex;
      }
      
      .nav__links a,
      .cta,
      .mainoverlay__content a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #edf0f1;
        text-decoration: none;
      }
      
      .nav__links li {
        padding: 0px 20px;
      }
      
      .nav__links li a {
        transition: all 0.3s ease 0s;
      }
      
      .nav__links li a:hover {
        color: #15c6e1;
      }
      
      .cta {
        margin-left: 20px;
        padding: 9px 25px;
        color: #15c6e1;
        background: transparent;
        border: 2px solid #15c6e1;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
        font-weight: 600;
      }
      
      .cta:hover {
        background-color: transparent;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 40px;
        transition: 1s;
      }
      
      /* Mobile Nav */
      
      .menu {
        display: none;
      }
      
      .mainoverlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: #24252a;
        overflow-x: hidden;
        transition: all 0.5s ease 0s;
      }
      
      .mainoverlay--active {
        width: 100%;
      }
      
      .mainoverlay__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .mainoverlay a {
        padding: 15px;
        font-size: 36px;
        display: block;
        transition: all 0.3s ease 0s;
      }
      
      .mainoverlay a:hover,
      .mainoverlay a:focus {
        color: #15c6e1;
      }
      .mainoverlay .close {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: #edf0f1;
      }

      @media screen and (max-height: 450px) {
        .mainoverlay a {
          font-size: 20px;
        }
        .mainoverlay .close {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }
      
      @media only screen and (max-width: 800px) {
        .nav__links,
        .cta, .dropbtn {
          display: none;
        }
        .menu {
          display: initial;
        }
      }

/* Glitch Animation */
.glitch {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/* Main Content */

.boxpage {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.boxpage .box{
  width: 100vh;
  /*   width: calc(33% - 10px); */
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 55px;
}

.box .quote i{
  margin-top: 10px;
  font-size: 16px;
  color: #15c6e1;
  font-weight: 800;
  
}
.boxpage .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #15c6e1;
  padding: 3px;
  border-radius: 50%;
}

.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: transparent;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

/* Button Main Styling, Colors With ID */
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  
}
.btns button{
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s linear;
}

/* first button id=1 */
#button1{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button1:hover{
  color: #f7a501;
  background: #000000;
  border: 2px solid #f7a501;
}

/* second button id=2 */
#button2{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button2:hover{
  color: #617eff;
  background: #000000;
  border: 2px solid #617eff;
}

/* second button id=3 */
#button3{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;

}

#button3:hover{
  color: #04ec04;
  background: #000000;
  border: 2px solid #04ec04;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=4 */
#button4{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button4:hover{
  color: #ffffff;
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=5 */
#button5{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button5:hover{
  color: #7415e1;
  background: #000000;
  border: 2px solid #7415e1;
}

@media (max-width:1045px){
  .boxpage .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .boxpage .box{
    width: 100%;
  }
}

/* Rating Animation LoL */

.spinner {
  height: 20px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 10px;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .spinner span {
  animation: loading6454 1.75s ease infinite;
 }
 
 .spinner span:nth-child(2) {
  animation-delay: 0.25s;
 }
 
 .spinner span:nth-child(3) {
  animation-delay: 0.5s;
 }
 
 .spinner span:nth-child(4) {
  animation-delay: 0.75s;
 }
 
 .spinner span:nth-child(5) {
  animation-delay: 1s;
 }
 
 .spinner span:nth-child(6) {
  animation-delay: 1.25s;
 }
 
 .spinner span:nth-child(7) {
  animation-delay: 1.5s;
 }
 
 @keyframes loading6454 {
  0%, 100% {
   transform: translateY(0);
  }
 
  50% {
   transform: translateY(-10px);
  }
 }

 /* modal*/

 .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  border: solid 2px lightblue;
  z-index: 10;
  background-color: rgba(36, 37, 42, 0.8);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color:white;
}

.close-button:hover{
  color:#15c6e1;
}

.modal-body {
  padding: 10px 15px;
  font-weight: 800;
}

#secondoverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#secondoverlay.active {
  opacity: 1;
  pointer-events: all;
}

.social-icons i{ 
  font-size:30px;
  padding-top: 40px;
  letter-spacing: 15px;
  
}

.social-icons i::before{
  background: transparent !important;
  color: #15c6e1;
}

.social-icons i:active{
  background: transparent !important;
  color: #15c6e1;
}

.social-icons i:hover{
  background: transparent !important;
  color: #15c6e1;
}

