* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.background-image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}
  
html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #24252a;
}

html::-webkit-scrollbar-thumb {
  background: #15c6e1;
  border-radius: 5rem;
}

body {
  background-color: #24252a;
  color:aliceblue;
  font-family: Montserrat, sans-serif;
}

.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.moonspacefade{
  text-align: center; 
  font-size: small;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  font-family: sans-serif;
  letter-spacing: normal;
  font-weight: 600;
  word-spacing: normal;
  -webkit-text-fill-color: transparent;
  animation: animate 10s linear infinite;
}
    
@keyframes animate{
0%{
  background-position: 0%;
}
100%{
  background-position: 400%;
}
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo{
  margin-right: auto;
  text-align: left; 
  font-size: 1rem;
  font-weight: 600;
  background-size: 400%; 
  font-family: sans-serif;
  background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 10s linear infinite; 
} 
  
.nav__links {
  list-style: none;
  display: flex;
}
      
.nav__links a,
.cta,
.mainoverlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}
      
.nav__links li a {
  transition: all 0.3s ease 0s;
  color: #15c6e1;
  background-color: transparent;
  border-bottom: 2px solid #15c6e1;
  padding: 9px 25px;
}

.nav__links li a:hover {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: all 0.3s ease-in-out 0s;
}
      
.cta {
  margin-left: 20px;
  padding: 9px 25px;
  color: #15c6e1;
  background: transparent;
  border: 2px solid #15c6e1;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
}
      
.cta:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  transition: 1s;
}
        
.menu {
 display: none;
}
      
.mainoverlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}
      
.mainoverlay--active {
  width: 100%;
}

.mainoverlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
      
.mainoverlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}
      
.mainoverlay a:hover,
.mainoverlay a:focus {
  color: #15c6e1;
}

.mainoverlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .mainoverlay a {
    font-size: 20px;
  }
  .mainoverlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
      
@media only screen and (max-width: 800px) {
  .nav__links,
  .cta, .dropbtn {
    display: none;
  }
  .menu {
    display: initial;
  }
}

.glitchontop h1{
  padding-top: 100px; 
  display:grid; 
  place-items:center; 
  color:white; 
  font-family: distant-galaxy; 
  font-weight: 800; 
  font-size: 2rem;
}

@media only screen and (max-width: 600px){

.glitchontop h1 {
 padding-top: 50px;
 display:grid; 
 place-items:center;
 color:white; 
 font-family: distant-galaxy; 
 font-weight: 800; 
 font-size: 2rem;
}

}

.glitch {
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/* Main Content */

.boxpage {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.boxpage .box{
  width: 100vh;
  /*   width: calc(33% - 10px); */
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 55px;
}

.box .quote i{
  margin-top: 10px;
  font-size: 16px;
  color: #15c6e1;
  font-weight: 600;
  
}
.boxpage .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #15c6e1;
  padding: 3px;
  border-radius: 50%;
}

.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: transparent;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* Button Main Styling, Colors With ID */
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: inline-block;
  min-width: 70%;
  max-width: 100%;
  cursor:pointer;
  
}
.btns button{
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s linear;
}

/* first button id=1 */
#button1{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button1:hover{
  color: #ffffff;
  background: #000000;
  border: 2px solid #ffffff;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=2 */
#button-tyler{
  color: #ef5db0;
  background: #000000;
  border: 2px solid #ef5db0;
}

#button-tyler:hover{
  color: #ff9500;
  background: #000000;
  border: 2px solid #ff9500;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=3 */
#button-snoop{
  color: #00ff1a;
  background: #000000;
  border: 2px solid #00ff1a;
}

#button-snoop:hover{
  color: #0066ff;
  background: rgb(0, 0, 0);
  border: 2px solid #0066ff;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=4 */
#button-eminem{
  color: rgb(11, 244, 159);
  background: #000000;
  border: 2px solid rgb(11, 244, 159);
}

#button-eminem:hover{
  color: #0099ff;
  background: #000000;
  border: 2px solid #0099ff;
  border-radius: 40px;
  transition: 1s;
}

/* second button id=5 */
#button5{
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
}

#button5:hover{
  color: #bb00ff;
  background: #000000;
  border: 2px solid #bb00ff;
  border-radius: 40px;
  transition: 1s;
}

@media (max-width:1045px){
  .boxpage .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .boxpage .box{
    width: 100%;
  }
}

/* Rating Animation LoL */

.spinner {
  height: 20px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 10px;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.spinner span {
  animation: loading6454 1.75s ease infinite;
}
 
.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}
 
.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}
 
.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}
 
.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}
 
.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading6454 {
0%, 100% {
  transform: translateY(0);
}  
50% {
  transform: translateY(-10px);
}
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  border: solid 2px lightblue;
  z-index: 10;
  background-color: rgba(36, 37, 42, 0.9);
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.modal-header .close-button {
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color:white;
}

.close-button:hover{
  color:#15c6e1;
}

.modal-body {
  padding: 10px 15px;
  font-weight: 400;
}

#secondoverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#secondoverlay.active {
  opacity: 1;
  pointer-events: all;
}

.social-icons i{ 
  font-size:30px;
  padding-top: 40px;
  letter-spacing: 15px;
  
}

.social-icons i::before{
  background: transparent !important;
  color: #15c6e1;
}

.social-icons i:active{
  background: transparent !important;
  color: #15c6e1;
}

.social-icons i:hover{
  background: transparent !important;
  color: #15c6e1;
}

#shoppy{
  --color: #359c4f;
  background-color: transparent;
  font-weight: 600;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 12px;
  border-radius: 6px;
  color: var(--color);
  width: 65px;
  height: 25px;
  margin-left: 5px;
 }
 
 
#shoppy:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
 
#shoppy:hover {
  color: rgb(255, 255, 255);
}
 
#shoppy:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
}
 
#shoppy:hover:before {
  top: -30px;
  left: -30px;
}
 
.description{
  margin: auto;
  padding: 0 15px;
}

.description .info{
 font-size: 16px;
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 90px 130px 88px 148px;
}

.contact1-pic {
  min-width: 1100px;
  position: absolute;
}

.contact1-pic img {
  max-width: 100%;
}

.contact2-pic {
  justify-content: center;
  display:flex;
  margin: auto;
}

.contact2-pic img {
  max-width:30%;
}

.contact1-form {
  width: 390px;
  
}

.contact1-form-title {
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #15c6e1;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
  font-weight: 600;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}

input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  font-family: Montserrat-Bold;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #15c6e1;
  border: 2px solid #15c6e1;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;

  color: #15c6e1;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid #15c6e1;
  font-weight: 600;

  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  color: #15c6e1;
  background: #000000;
  border: 2px solid #15c6e1;
  border-radius: 40px;
  transition: 1s;
  font-weight: 600;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}